.mySwiper {
   width: 100%;
}

.swiper-slide {
   height: 600px;
}

@media (max-width: 1200px) {
   .swiper-slide {
      height: fit-content;
   }
}

.swiper-button-next:not(.custom-swiper-button-next),
.swiper-button-prev:not(.custom-swiper-button-prev) {
   display: none !important;
}
